.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 5vw;
  background-color: var(--header-background);
  color: var(--text-primary);
  position: fixed; /* Fixed to the top */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other content */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.titleLeft {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-primary);
}

.titleCenter {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  color: var(--text-primary);
}

.nav {
  display: flex;
  gap: 20px;
  /* background-color: rgb(102, 102, 100); */
  align-items: center;
}

.menuItem {
  position: relative;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1rem;
  padding: 8px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--text-secondary);
}

.dropdown {
  position: relative;
  padding: 8px;
  cursor: pointer;
  color: var(--text-primary);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--header-background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.dropdownItem {
  padding: 10px;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.dropdownItem:hover {
  background-color: var(--text-secondary);
  color: var(--background);
}

.menuButton {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--header-background);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  z-index: 200;
}

.closeButton {
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.drawerItem {
  margin-top: 10px;
}

.drawerLink {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1rem;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.drawerLink:hover {
  background-color: var(--text-secondary);
  color: var(--background);
}

.drawerSubmenu {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav {
    display: none;
  }
}
