@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-background: #2A4B5F;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Josefin Sans", sans-serif;
  padding-top: 64px; /* This is to buffer space for the Header dock feature */
}
