.inputField {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #303030;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  color: var(--text-input);
}

.inputField:focus {
  border-color: #303030;
  outline: none;
}
