.calculatorFooter {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--header-background);
  transition: background-color 0.3s ease;
}
